html, body {
  background-color: #eee;
  line-height: 1.6;
  font-size: 88%;
  color: #333;
}

.container {
  margin: 0 auto;
  padding: 24px;
  width: 900px;
}

.header {
  background: url("../img/title.png") no-repeat;
  padding-left: 256px;
  height: 128px;
}

.header h1 {
    font-size: 72px;
    line-height: 1;
}

.body {
  background-color: #ddd;
  padding: 24px;
}

.progress-bar-title-column,
.progress-bar-column {
    display: inline-block;
    vertical-align: top;
}

.progress-bar-title-column {
    text-align: right;
    width: 10%;
}

.progress-bar-column {
    width: 88%;
}

.progress {
    margin-bottom: 8px;
    border: 1px solid #333;
    height: 1em;
    width: 100%;
}
.progress .bar {
    background-color: #333;
    height: 100%;
}

.entry {
    text-align: center;
}

.entry h1 {
    font-size: x-large;
    text-align: center;
}

.entry-client {
    margin: 8px 0;
}

.client-order,
.client-info,
.client-score,
.client-lyric {
    display: inline-block;
    vertical-align: middle;
}

.client-order {
    text-align: center;
    width: 7%;
    font-size: 2em;
}

.client-info {
    width: 6%;
}

.client-icon {
    width: 100%;
    vertical-align: bottom;
}

.client-name {
    text-align: center;
    background: rgba(0,0,0,0.8);
    color: white;
    width: 100%;
    font-size: x-small;
    bottom: 0;
}

.client-score {
    width: 10%;
}

.client-lyric {
    width: 68%;
}

.lyric {
    font-weight: bold;
    width: 80%;
}

.lyric-original {
  font-size: x-large;
}

.lyric-roma {
  font-size: large;
}

.solved {
  color: #ddd;
}

.video-player {
    width: 800px;
    margin: 0 auto;
}