html, body {
  background-color: #eee;
  line-height: 1.6;
  color: #333;
}

.container {
  margin: 0 auto;
  padding: 24px;
  width: 800px;
}

.header {
  background: url("../img/title.png") no-repeat;
  padding-left: 256px;
  height: 128px;
}

.header h1 {
    font-size: 100px;
    line-height: 1;
}

.body {
  background-color: #ddd;
  padding: 24px;
}

.progress {
  margin: 8px 0;
  border: 1px solid #333;
  height: 8px;

}
.progress .bar {
    background-color: #333;
    height: 100%;
}

.solved {
  color: steelblue;
}

.lyric {
  font-weight: bold;
}

.lyric-original {
  font-size: x-large;
}

.lyric-roma {
  font-size: x-large;
}

.video-player {
  display: block;
  margin: 0 auto;
}

.info li {
    display: inline-block;
}

.player-status {
	margin: 8px 0;
}

.player-info {
	margin-right: 8px;
	padding: 8px;
	border: 1px solid #666;
}

.player-info,
.lyric {
	float: left;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}
