<!-- video player -->
<div class="video-player">
  <video id="video" ng-src="videos/wonderful_rush.mp4"></video>
</div>

<!-- top area -->
<div class="video-chrome-top">
  <!-- total progress bar -->
  <div id="total-progress" class="progress">
    <div class="progress-bar"></div>
  </div>
  <!-- music title area -->
  <div class="music-title">
    Wonderful Rush 難易度: ★★★★★★★★☆☆
  </div>
</div>

<!-- bottom area -->
<div class="video-chrome-bottom">
  <!-- interval progress bar -->
  <div id="interval-progress" class="progress">
    <div class="progress-bar"></div>
  </div>
  <!-- original lyric area -->
  <div class="lyric">
    <ul>
      <li class="lyric-kana">&nbsp;<span class="solved">{{ typingStatus.solvedKana }}</span><span
        class="unsolved">{{ typingStatus.unsolvedKana }}</span></li>
      <li class="lyric-original">&nbsp;{{ lyric.originalLyric }}</li>
      <li class="lyric-roma">&nbsp;<span class="solved">{{ typingStatus.solvedRoma }}</span><span
        class="unsolved">{{ typingStatus.unsolvedRoma }}</span></li>
    </ul>
  </div>
</div>