<!-- left side -->
<div class="pull-left">
	<!-- video chrome -->
	<div class="video-chrome">
    <div ng-include="'scripts/views/chrome-playing.html'"></div>
	</div>

	<!-- chat area -->
	<div class="chat">

	</div>
</div><!--

right side bar
--><div class="pull-left">
	<!-- player list -->
	<div class="player-list">
		<p class="player-list-title">PLAYERS</p>
		<ul>
			<li ng-repeat="player in players | orderBy:'-score.point'">
				<!-- player icon -->
				<div class="player-icon">
					<img ng-src="img/icons/{{ player.icon }}" alt=""/>
				</div>
				<!-- player name -->
				<span class="player-name">{{ player.name }}</span>
			</li>
		</ul>
	</div>

	<!-- emoticon area -->
	<div class="emoticon"></div>
</div>
